<div class="flexWrapper">
  <div class="flexColumn">
    <div class="shrink grey black">
      <div class="iosTop">
        <div class="flexRow">
          <div class="shrink p5">
            <button mat-icon-button class="white-text" (click)="Close()">
              <i class="fa fa-chevron-down"></i>
            </button>
          </div>
          <div class="grow">

          </div>
        </div>
      </div>
    </div>
    <div class="grow grey darken-2 scrollY">
      <div class="flexColumn">
        <div class="shrink">
          <div class="flexRow" style="flex-wrap: wrap;">
            <div class="shrink imgWrapper">
              <div class="imgCell black whiteBorder" (click)="Close()">
                <div class="align">
                  <i class="fa fa-camera grey-text f22"></i>
                </div>
              </div>
            </div>
            <ng-container *ngFor="let img of Images"> 
              <div class="shrink imgWrapper">
                <div class="imgCell black whiteBorder" (click)="ViewImage(img)" [ngStyle]="{ 'background-image': 'url(' + img.Data + ')'}">
                  <div class="flexRow">
                    <div class="shrink"></div>
                    <button mat-icon-button class="mdIconBtn" (click)="ToggleImg(img, $event)">
                      <i [ngClass]="{'far fa-circle white-text': !img.Selected, 'fa fa-check-circle primary-text': img.Selected}"></i>
                    </button>
                    <div class="grow right">
                      
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <div class="shrink grey lighten-4"  *ngIf="SelectedImages > 0">
      <div class="iosBottom">
        <div class="flexRow">
          <div class="shrink p5">
            <button mat-button class="black-text" (click)="UnselectAll()">
              Unselect All
            </button>
          </div>
          <div class="grow"></div>
          <div class="shrink p5">
            <button mat-button class="danger white-text" (click)="DeleteSelected()">
             <i class="fa fa-trash-o mr5"></i> Delete {{SelectedImages}} Photo(s)
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>